$coral: coral;
$white:#fff;
$platinum:#e8ebe4;
$gray:#bec1bb;
$blue-bell:#a491d2;
$soap:#cdc3e6;
$pale-lavender:#d4dcff;
$dark-jungle:#1b1f21;
$outer-space:#444749;
$old-silver:#828485;
$roboto:'Roboto', sans-serif;
$open-sans:'Open Sans', sans-serif;
$merriweather: 'Merriweather', serif;
$regular:400;
$bold:700;
$large:45px;
$medium:16px;
$small: 14px;
$x-small: 10px;